div.main-container {
    /*padding: 0px 20px;*/
    background-color: #f8f9fa;
    height: 100vh;
}

div.content {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 10px;
    /*background-color: white;*/
    /*box-shadow: 1px 1px 1px 0px #00000063 !important;*/
}

.app-name {
    display: inline;
}


.login-box {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px gray;
}