div.main-container {
    padding: 0px 20px;
    background-color: #f8f9fa;
    height: 100vh;
}

div.header {
    display: block;
    background-color: white;
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 1px 1px 1px 0px #00000063 !important;
}

div.content {
    margin-top: 10px;
    display: block;
    /*background-color: white;*/
    padding: 10px;
    /*box-shadow: 1px 1px 1px 0px #00000063 !important;*/
}

div.header img.header.logo {
    display: inline;
}

div.header .header-menu,
div.header .search-section, 
div.header .header-menu ul,
.menu-item {
    display: inline;
}

.header-menu .menu-item a {
    text-decoration: none !important;
    color: black;
    font-weight: bold;
}

.auth-section {
    float: right;
}

.search-section {
    float: right;
}

.item-publicacion {
    box-shadow: 1px 1px 1px #0000002e;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 5px;
}

.publicacion {
    box-shadow: 1px 1px 1px #0000002e;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 5px;
}

.publicacion .contenido, .publicacion .mi-comentario, .publicacion .comentarios {
    padding: 20px;
}

.item-comentario {
    box-shadow: 1px 1px 1px #0000002e;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 5px;
}

.list-unstyled a {
    text-decoration: none;
    color: black;
}

.item-comentario:hover, .item-publicacion:hover, .media-body:hover {
    background-color:#dc3545;
    color:white;
}

.app-name {
    display: inline;
}

.media-footer {
    border-radius: 5px;
    padding: 3px;
    background-color: black;
    color: white;
    display: inline;
}

/* login */
div.main-container-login {
    /*padding: 0px 20px;*/
    background-color: #f8f9fa;
    height: 100vh;
}

div.padding-box {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 10px;
    /*background-color: white;*/
    /*box-shadow: 1px 1px 1px 0px #00000063 !important;*/
}

.login-box {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px gray;
}